# folder where dataset(s) and pretrained models are stored
DATA_FOLDER=${PWD}/data

# folder where results will be logged to
LOG_FOLDER=${PWD}/logs

# folder which can be used for temporary storage
TEMP_FOLDER=/tmp/w2v2-speaker-few-samples

# folder where huggingface library saves model weights
TRANSFORMERS_CACHE=${DATA_FOLDER}/pretrained_models

# whether to compress shards when writing them
COMPRESS_SHARDS=true

# default value for using WandB
USE_WANDB=False

# API key of WandB account for experiment tracking (if USE_WANDB=True)
WANDB_API_KEY=your_api_key_here
